<span class="dijit dijitReset dijitInline symphony-button" role="presentation"
	><span class="dijitReset dijitInline"
		data-dojo-attach-event="ondijitclick:_onClick" role="presentation"
		><span class="dijitReset dijitStretch"
			data-dojo-attach-point="titleNode,focusNode"
			role="button" aria-labelledby="${id}_label"
			><span class="dijitReset dijitInline dijitIcon" data-dojo-attach-point="iconNode"></span
			><span class="dijitReset dijitToggleButtonIconChar">&#x25CF;</span
			><span class="dijitReset dijitInline"
				id="${id}_label"
				data-dojo-attach-point="containerNode"
			></span
		></span
	></span
></span>