<div class="ExpandoPlatformSettings">
	<h2>Platform settings</h2>
    <div class="settingDetail">
        <label>${RELEASE_LABEL}</label>&nbsp;<span data-dojo-type="citrix.common.BoundWidget" name="release" map="{'${NONE_SET}': ''}"></span>
    </div>
    <div class="settingDetail">
        <label>${BUILD_LABEL}</label>&nbsp;<span data-dojo-type="citrix.common.BoundWidget" name="build" map="{'${NONE_SET}': ''}"></span>
    </div>
    	<div class="actions">
   <button type="button" data-dojo-type="citrix.sync-wui.Button" data-dojo-attach-point="configNode" data-dojo-attach-event="onClick: onConfigClick">${CONFIG_BUTTON}</button>
	</div>

 </div>