<div class="ExpandoVMSettings">
    <h2>${VM_SELECT_TITLE}</h2>
    <ul class="citrixImageSelect clear" dojoAttachPoint="containerNode"></ul>
        <div class="actions">
        <button type="button" data-dojo-attach-point="AddButton" data-dojo-type="citrix.sync-wui.Button" data-dojo-attach-event="onClick: _onAddClick">${ADD_BUTTON}</button>
        <button type="button" data-dojo-attach-point="RemoveButton" data-dojo-type="citrix.sync-wui.Button" data-dojo-attach-event="onClick: _onRemoveClick">${REMOVE_BUTTON}</button>
        <button type="button" data-dojo-attach-point="LockButton" data-dojo-type="citrix.sync-wui.Button" data-dojo-attach-event="onClick: _onLockClick">${LOCK_BUTTON}</button>
    </div>

</div>
