/*
Product: OpenXT
Project: Synchronizer Administration Web UI
Copyright© Citrix 2012
*/

.tundra .citrixWizard .citrixImageSelect {
    width: 700px;
    padding: 0px;
    height: 285px;
}
